@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}

/* title sec */

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.name {
  font-size: 2rem;
}

.nav a{
    text-decoration: none;
    color: #424247;
}

.nav ul {
  display: flex;
  gap: 45px;
  list-style: none;
  padding: 1.2rem 0;
}

/* explore or search sec */

.explore {
    border-radius: 16px;
    background: linear-gradient(
        180deg,
        rgba(19, 19, 24, 0.8) 0%,
        rgba(19, 19, 24, 0) 100%
      ),
      url(../Images/explore.png);
    background-repeat: no-repeat;
    background-size: cover;  
    text-align: center;
    color: #fff;
    padding: 100px 200px;
    margin-bottom: 8rem;
}

.explore h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.explore p{
    line-height: 1.625rem;
    color: #FFF;
}

.search{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    height: 100%;
    padding: 1rem;
    margin-top: 3rem;
}
.search input, select, button{
    width: 18%;
    padding: 15px;
    color: rgba(19, 19, 24, 0.50);
    border: 0;
    border-radius: 8px;
}

.search select {
    padding: 14px 0;
    border: 0;
    border-radius: 8px;
}

.search button {
    color: #fff;
    background: #FF5400;
}

/* tour sec */

.tours{
  display: flex;
  justify-content: space-around;
  margin-bottom: 8rem;
  width: 100%;
}
.des{
  max-width: 50%;
}
.des-img {
  overflow: hidden;
}
.tours .des *{
  margin-bottom: 1.5rem;
}
.tours .des ul li {
  margin: 0.5rem 1.5rem; 
}
.tours h1 {
  font-size: 2.4rem;
}
.tours .des li, p {
  color: rgba(19, 19, 24, 0.70);
}
.tours .des strong {
  color: black;
}

/* destination sec */

.dest{
  margin-bottom: 6.25rem;
}
.dest-img1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
.dest-img2 {
  display: grid;
  gap:1.5rem;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  margin-bottom: 1.5rem;
}  
.dest-img3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:1.5rem;
  width: 100%;
}
.dest-img1 img, .dest-img2 img, .dest-img3 img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* why choose us */
.why{
  margin-bottom: 3rem;
}
 .why h1 {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
 }
 .why p {
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  line-height: 1.5rem;
 }
 .card1 h3, .card2 h3, .card3 h3 {
  color: #131318;
  font-size: 1.5rem;
  margin-bottom: 1rem;
 }
 .card1 p, .card2 p, .card3 p {
  color: #5A5A5D;
  line-height: 1.5rem;
 }
 .feature {
  display: flex;
  justify-content: space-between;
  width: 100%;
 }
 .card1, .card2 {
  width: 48%;
 }
.card3 {
  margin: 1.5rem auto;
  width: 40%;
}
